.idea/**/workspace.xml
gamebin/game.html
gamebin/guess.html
gamebin/stringDatabase.html
venv/bin/__pycache__/
venv/lib/python3.6/site-packages/Babel-2.6.0.dist-info/
venv/lib/python3.6/site-packages/Jinja2-2.10.1.dist-info/
venv/lib/python3.6/site-packages/MarkupSafe-1.1.1.dist-info/
venv/lib/python3.6/site-packages/Pygments-2.4.0.dist-info/
venv/lib/python3.6/site-packages/Sphinx-2.0.1.dist-info/
venv/lib/python3.6/site-packages/__pycache__/
venv/lib/python3.6/site-packages/alabaster-0.7.12.dist-info/
venv/lib/python3.6/site-packages/alabaster/
venv/lib/python3.6/site-packages/babel/
venv/lib/python3.6/site-packages/certifi-2019.3.9.dist-info/
venv/lib/python3.6/site-packages/certifi/
venv/lib/python3.6/site-packages/chardet-3.0.4.dist-info/
venv/lib/python3.6/site-packages/chardet/
venv/lib/python3.6/site-packages/docutils-0.14.dist-info/
venv/lib/python3.6/site-packages/docutils/
venv/lib/python3.6/site-packages/idna-2.8.dist-info/
venv/lib/python3.6/site-packages/idna/
venv/lib/python3.6/site-packages/imagesize-1.1.0.dist-info/
venv/lib/python3.6/site-packages/jinja2/
venv/lib/python3.6/site-packages/markupsafe/
venv/lib/python3.6/site-packages/packaging-19.0.dist-info/
venv/lib/python3.6/site-packages/packaging/
venv/lib/python3.6/site-packages/pygments/
venv/lib/python3.6/site-packages/pyparsing-2.4.0.dist-info/
venv/lib/python3.6/site-packages/pytz-2019.1.dist-info/
venv/lib/python3.6/site-packages/pytz/
venv/lib/python3.6/site-packages/requests-2.22.0.dist-info/
venv/lib/python3.6/site-packages/requests/
venv/lib/python3.6/site-packages/six-1.12.0.dist-info/
venv/lib/python3.6/site-packages/snowballstemmer-1.2.1.dist-info/
venv/lib/python3.6/site-packages/snowballstemmer/
venv/lib/python3.6/site-packages/sphinx/
venv/lib/python3.6/site-packages/sphinxcontrib/
venv/lib/python3.6/site-packages/sphinxcontrib_applehelp-1.0.1.dist-info/
venv/lib/python3.6/site-packages/sphinxcontrib_devhelp-1.0.1.dist-info/
venv/lib/python3.6/site-packages/sphinxcontrib_htmlhelp-1.0.2.dist-info/
venv/lib/python3.6/site-packages/sphinxcontrib_jsmath-1.0.1.dist-info/
venv/lib/python3.6/site-packages/sphinxcontrib_qthelp-1.0.2.dist-info/
venv/lib/python3.6/site-packages/sphinxcontrib_serializinghtml-1.1.3.dist-info/
venv/lib/python3.6/site-packages/urllib3-1.25.2.dist-info/
venv/lib/python3.6/site-packages/urllib3/
